<!-- editor.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <style>
        /* Set Global Font Family */
        body {
            font-family: 'Arial', sans-serif;
        }
        
        /* Additional Styling for Editor.js Blocks (Optional) */
        .ce-block__content h1, 
        .ce-block__content h2, 
        .ce-block__content p {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <div id="editorjs"></div>
    <script>
        window.addEventListener('message', function(event) {
            // Handle the message
        });

        function postMessageToReactNative(message) {
            window.ReactNativeWebView.postMessage(message);
        }
    </script>
</body>
</html>